<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Record Now</title>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="http://staging.tokbox.com/v0.91/js/TB.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1 id="logo">Record Now</h1>
      </div>

      <div id="instructions" class="row">
          <ul>
            <li><span class="step">1</span> Record<span class="emptySpace"></span></li>
          	<li><span class="step">2</span> Save<span class="emptySpace"></span></li>
          	<li><span class="step">3</span> Download</li>
          </ul>
      </div>

      <div class="row">
        <div id="rElement"></div>
      </div>

      <div class="row">
        <div class="span4 offset4">
          <h1>
            <a class="btn btn-large" id="downloadButton" href="#" disabled>Loading...</a>
          </h1>
        </div>
      </div>
    </div>


    <script type="text/javascript">
      var rManager = TB.initRecorderManager("<%= @key %>"); // Pass in your API KEY, create a Manager
      var recorder = rManager.displayRecorder('<%= @token %>', 'rElement', {width:360, height:301}); 
        // Pass in a valid token, and your recorder will start
      var archiveId;

      TB.setLogLevel( TB.DEBUG ); // Prints out logging messages in console

      var urlhandler = function(response){
          if(response.split('error').length > 1){
            console.log(response)
            // Error Message was found, archive not ready
            console.log("SETTING TIMEOUT!");
            setTimeout(getDownloadUrl(archiveId), 2000);
          }else{
            $('#downloadButton').attr('href', response).removeAttr('disabled').text('Download Now');
            console.log("URL: "+response);
          }
      };

      var getDownloadUrl = function(aid){
        console.log( "Sending archive id to server to retrieve download URL: "+aid );
        $.post('/download', {archiveId:aid}, function(response){
            urlhandler(response);
        });
      };

      recorder.addEventListener('archiveSaved', function(event){
        archiveId = event.archives[0].archiveId;
        $('#downloadButton').attr('archiveId', archiveId).fadeIn();
        getDownloadUrl(archiveId);
      });
    </script>


  </body>
</html>
