<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <style type="text/css"></style>

  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1 id="logo">Record Now</h1>
      </div>

      <div id="instructions" class="row">
        <div class="span6 offset3">
          <ul>
          	<li>Step 1: Record a video</li>
          	<li>Step 2: Cick 'Save'</li>
          	<li>Step 3: Download it</li>
          </ul>

        </div>
      </div>

      <div class="row">
        <div id="rElement"></div>
      </div>

      <div class="row">
        <div class="span4 offset4">
          <h1>
            <a class="btn btn-large" id="downloadButton" href="#" disabled>Loading...</a>
          </h1>
        </div>
      </div>
    </div>


    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="http://staging.tokbox.com/v0.91/js/TB.min.js"></script>
    <script type="text/javascript">
      var rManager = TB.initRecorderManager('1127');
      var recorder = rManager.displayRecorder('moderator_token', 'rElement');
      var archiveId;

      var urlhandler = function(response){
          if(response.split('error').length > 1){
            // Error Message was found
            console.log("SETTING TIMEOUT!");
            setTimeout(getDownloadUrl(archiveId), 2000);
          }else{
            $('#downloadButton').attr('href', response).removeAttr('disabled').text('Download Now');
          }
      };

      var getDownloadUrl = function(aid){
        $.post('/download', {archiveId:aid}, function(response){
            urlhandler(response);
        });
      };

      recorder.addEventListener('archiveSaved', function(event){
        archiveId = event.archives[0].archiveId;
        $('#downloadButton').attr('archiveId', archiveId).fadeIn();
        getDownloadUrl(archiveId);
      });
    </script>


  </body>
</html>
