.container{
  text-align:center;
  scroll:auto;
  background-image:url('http://subtlepatterns.com/patterns/burried.png');
  font-family:'lobster';
  color:#d5d5d5;
  margin-bottom: 150px;
}
#downloadButtonContainer{
  margin:20px 10px 10px 10px;
}
#downloadButton{
  display:none;
}

#logo{
  font-size:100px;
  line-height:120%;
  text-shadow: 2px 5px 5px #aaa;
  margin-top:25px;
  color:#e5e5e5;
}
body{
  background-image:url('http://subtlepatterns.com/patterns/burried.png');
}

#instructions{
  font-family:'cabin';
  font-size: 24px;
  margin-top:20px;
  margin-bottom:20px;
}
#instructions li{
  margin-bottom:20px;
  list-style-type:none;
  line-height:120%;
  display:inline;
}
.emptySpace{
  display:inline-block;
  margin:20px;
}
.step{
  display:inline-block;
  height:30px;
  width:30px;
  margin:0;
  border-radius:50%;
  background-color:#555;
  padding-top:2px;
}

#devCube{
  position:fixed;
  bottom: 20px;
  right: 20px;
}
